<table class="table align-middle mb-0 bg-white table-hover mb-5">
  <thead class="bg-light">
    <tr>
      <th scope="col">Week Number</th>
      <th scope="col">Week Dates</th>
      <th scope="col">Issue Key</th>
      <th scope="col">Finish Date</th>
      <th scope="col">Points</th>
      <th scope="col">Earned Value</th>
      <th scope="col">Cumulative Earned Value</th>
    </tr>
  </thead>
  <tbody>
    <% epic_earned_value_presenter.earned_value_items.each.with_index do |earned_value_item, index| %>
      <% different_week_than_previous_item = (earned_value_item.finish_week_number != epic_earned_value_presenter.earned_value_items[index-1].finish_week_number) %>
      <tr>
        <td><%= different_week_than_previous_item ? earned_value_item.finish_week_number : '' %></td>
        <td><%= different_week_than_previous_item ? earned_value_item.finish_week_dates : '' %></td>
        <td><%= earned_value_item.issue_key %></td>
        <td><%= earned_value_item.finish_date.strftime("%a, %d %b %Y") %></td>
        <td><%= earned_value_item.points %></td>
        <td><%= "#{earned_value_item.earned_value}%" %></td>
        <td><%= "#{earned_value_item.cumulative_earned_value}%" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
