<div>
  <p class="h1">Epic Issues</p>
  <br />

  <p class="h5">Project: <%= link_to @project_key, project_epics_path(project_id: @project_key) %></p>
  <p class="h5">Epic: <%= link_to @epic_key, project_epic_path(project_id: @project_key, id: @epic_key, labels: params[:labels]) %></p>
  <br />

  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Issue Key</th>
        <th scope="col">Summary</th>
        <th scope="col">Labels</th>
        <th scope="col">Status</th>
        <th scope="col">Story Points</th>
        <th scope="col">Finish Date</th>
      </tr>
    </thead>
    <tbody>
      <% @issues.each_with_index do |issue, index| %>
        <tr>
          <th scope="row"><%= index %></th>
          <td><%= issue.key %></td>
          <td><%= issue.summary %></td>
          <td><%= issue.labels %></td>
          <td><%= issue.status %></td>
          <td><%= issue.story_points %></td>
          <td><%= issue.finish_date&.strftime("%a, %d %b %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
