<% if avg_weekly_earned_value.positive? %>
  <%= form_with url: project_epic_create_estimation_path(project_id: project_id, epic_id: epic_id), method: :post do |form| %>
    <%= form.hidden_field :avg_weekly_earned_value, value: avg_weekly_earned_value %>
    <%= form.hidden_field :expected_average, value: params[:expected_average] %>
    <%= form.hidden_field :implementation_start_date, value: implementation_start_date %>
    <%= form.hidden_field :labels, value: params[:labels] %>
    <%= form.hidden_field :last_completed_week_number, value: last_completed_week_number %>
    <%= form.hidden_field :remaining_earned_value, value: remaining_earned_value %>
    <%= form.hidden_field :remaining_weeks, value: remaining_weeks %>
    <%= form.hidden_field :remaining_weeks_with_uncertainty, value: remaining_weeks_with_uncertainty %>
    <%= form.hidden_field :total_points, value: total_points %>
    <%= form.hidden_field :uncertainty_level, value: params[:uncertainty_level] %>

    <div class="row">
      <% if category.blank? %>
        <div class="col-lg-8">
          <%= form.select :category, EstimationCategory.dropdown_options, { include_blank: false }, { class: "form-control" } %>
        </div>
      <% else %>
        <%= form.hidden_field :category, value: category %>
      <% end %>

      <div class="col-lg-4">
        <%= form.submit "Save", name: nil, class: "btn btn-primary btn-sm"  %>
      </div>
    </div>
  <% end %>
<% end %>
