<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">Epic Key</th>
      <th scope="col">Summary</th>
      <th scope="col">Project Key</th>
      <th scope="col">Implementation Start Week</th>
      <th scope="col">Completed Weeks Since Start</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to epic_presenter.key, project_epic_path(project_id: epic_presenter.project_key, id: epic_presenter.key, implementation_start_date: params[:implementation_start_date], labels: params[:labels], expected_average: params[:expected_average]) %></td>
      <td><%= epic_presenter.summary %></td>
      <td><%= link_to epic_presenter.project_key, project_epics_path(project_id: epic_presenter.project_key) %></td>
      <td><%= epic_presenter.progress_presenter.implementation_start_date&.strftime("%a, %d %b %Y") %></td>
      <td><%= epic_presenter.progress_presenter.completed_weeks_since_beginning %></td>
    </tr>
  </tbody>
</table>
