<table class="table align-middle mb-0 bg-white table-hover mb-5">
  <thead class="bg-light">
    <tr>
      <th scope="col">Avg. Period</th>
      <th scope="col">Avg. Points Per Week</th>
      <th scope="col">Weeks To Complete</th>
      <% if uncertainty_percentage.positive? %>
        <th scope="col">Weeks To Complete (with uncertainty)</th>
        <th scope="col">Uncertainty</th>
      <% end %>
      <th scope="col">Persist Estimation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= period %></td>
      <td><%= avg_points %></td>
      <td><%= estimated_weeks_to_complete_without_uncertainty %></td>
      <% if uncertainty_percentage.positive? %>
        <td><%= estimated_weeks_to_complete_with_uncertainty %></td>
        <td><%= "#{uncertainty_title} #{uncertainty_percentage}%" %></td>
      <% end %>
      <td>
        <%=
          render 'shared/create_estimation_button',
            avg_weekly_earned_value: avg_points,
            category: category,
            epic_id: epic_id,
            implementation_start_date: implementation_start_date,
            last_completed_week_number: last_completed_week_number,
            project_id: project_id,
            remaining_earned_value: remaining_earned_value,
            remaining_weeks: estimated_weeks_to_complete_without_uncertainty,
            remaining_weeks_with_uncertainty: estimated_weeks_to_complete_with_uncertainty,
            total_points: total_points
        %>
      </td>
    </tr>
  </tbody>
</table>
