<table class="table align-middle mb-0 bg-white table-hover mb-5">
  <thead class="bg-light">
    <tr>
      <th scope="col">Estimation Date</th>
      <th scope="col">Total Points</th>
      <th scope="col">Avg. Story Points Per Week</th>
      <th scope="col">Remaining Earned Value</th>
      <th scope="col">Remaining Weeks</th>
      <th scope="col">Estimated Finish Date</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <% epic_estimation_history_presenter.estimation_items.each do |estimation_item| %>
      <tr>
        <td><%= estimation_item.created_at.strftime("%a, %d %b %Y") %></td>
        <td><%= estimation_item.total_points %></td>
        <td><%= estimation_item.avg_weekly_earned_value %></td>
        <td><%= "#{estimation_item.remaining_earned_value.round}%" %></td>
        <td><%= estimation_item.remaining_weeks %></td>
        <td><%= estimation_item.estimated_finish_date.strftime("%a, %d %b %Y") %></td>
        <td><%= link_to 'View', project_epic_estimation_path(project_id: estimation_item.project_id, epic_id: estimation_item.epic_id, id: estimation_item.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
