<%= form_with url: project_epic_estimations_path(project_id: project_id, id: epic_id), method: :get do |form| %>
  <div class="row">
    <div class="col-lg-2">
      <div class="form-group">
        <%= form.label :labels, "Label", class: "form-label" %>
        <%= form.text_field :labels, value: params[:labels], class: "form-control" %>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="form-group">
        <%= form.label :expected_average, "Expected Average", class: "form-label" %>
        <%= form.text_field :expected_average, value: params[:expected_average], class: "form-control" %>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="form-group">
        <%= form.label :uncertainty_level, "Uncertainty Level", class: "form-label" %>
        <%= form.select :uncertainty_level, UncertaintyLevel.dropdown_options, { selected: params[:uncertainty_level], include_blank: true }, { class: "form-control" } %>
      </div>
    </div>

    <div class="col-lg-2" style="margin-top: 30px;">
      <%= form.submit "Apply Filters", name: nil, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
