<table class="table table-hover mb-0">
  <thead>
    <tr>
      <th scope="col">Total</th>
      <th scope="col">Completed</th>
      <th scope="col">Remaining</th>
      <th scope="col">Started</th>
      <th scope="col">Unestimated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="fs-5 fw-bold text-dark"><%= epic_issues_count_presenter.total_issues_count %></td>
      <td class="fs-5 fw-bold text-success"><%= epic_issues_count_presenter.completed_issues_count %></td>
      <td class="fs-5 fw-bold text-secondary"><%= epic_issues_count_presenter.remaining_issues_count %></td>
      <td class="fs-5 fw-bold text-primary"><%= epic_issues_count_presenter.started_issues_count %></td>
      <td class="fs-5 fw-bold text-danger"><%= epic_issues_count_presenter.unestimated_issues_count %></td>
    </tr>
  </tbody>
</table>
