<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">Total Issues</th>
      <th scope="col">Completed Issues</th>
      <th scope="col">Remaining Issues</th>
      <th scope="col">Started Issues</th>
      <th scope="col">Unestimated Issues</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= epic_issues_count_presenter.total_issues_count %></td>
      <td><%= epic_issues_count_presenter.completed_issues_count %></td>
      <td><%= epic_issues_count_presenter.remaining_issues_count %></td>
      <td><%= epic_issues_count_presenter.started_issues_count %></td>
      <td><%= epic_issues_count_presenter.unestimated_issues_count %></td>
    </tr>
  </tbody>
</table>
