<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">Avg. Period</th>
      <th scope="col">Avg. Story Points Per Week</th>
      <th scope="col">Weeks To Complete (without uncertainty)</th>
      <% if uncertainty_percentage.positive? %>
        <th scope="col">Weeks To Complete (considering uncertainty)</th>
        <th scope="col">Uncertainty</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= period %></td>
      <td><%= avg_story_points %></td>
      <td><%= estimated_weeks_to_complete_without_uncertainty %></td>
      <% if uncertainty_percentage.positive? %>
        <td><%= estimated_weeks_to_complete_with_uncertainty %></td>
        <td><%= "#{uncertainty_title} #{uncertainty_percentage}%" %></td>
      <% end %>
    </tr>
  </tbody>
</table>
